.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 300px;
  height: 200px;
}

.card {
  position: relative;
  width: 300px;
  height: 200px;
}

.card .icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #2c73df;
  z-index: 2;
}

.card .icon img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  object-fit: cover;
}

.card .slide {
  width: 300px;
  height: 200px;
  transition: 0.5s;
  position: absolute;
  top: 0;
  left: 0;
}

.card .slide.slide1 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transition: 0.7s;
  transform: translateY(100px);
}

.card:hover .slide.slide1 {
  transform: translateY(0px);
}

.card .slide.slide2 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  transition: 0.8s;
  transform: translateY(-100px);
  box-shadow: 0 20px 40px rgba(0,0,0,0.4);
  z-index: 3;
  background: white;
}

.card:hover .slide.slide2 {
  transform: translateY(0);
}

.card .slide.slide2::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 4px;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  background: #2c73df;
}

.card .slide.slide2 .content p {
  margin: 0;
  padding: 0;
  text-align: center;
  color: #414141;
}

.card .slide.slide2 .content h3 {
  margin: 0 0 10px 0;
  padding: 0;
  font-size: 24px;
  text-align: center;
  color: #414141;
}
